.icon-size-medium {
    font-size: 1.5rem;
}
.icon-root {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
}

.hover-effect {
    transition: all 0.3s ease;
    border-radius: 10px;
}

.hover-effect:hover {
    background: rgba(0, 0, 0, 0.6);
}

.center {
    top: 45%;
    animation: __slideFadeInTop 0.5s ease forwards;
}

.top {
    top: 0;
    animation: __slideFadeInTop 0.5s ease forwards;
}

.bottom {
    bottom: 0;
    animation: __slideFadeInBottom 0.5s ease forwards;
}

.left {
    left: 0;
    animation: __slideFadeInLeft 0.5s ease forwards;
}

.right {
    right: 0;
    animation: __slideFadeInRight 0.5s ease forwards;
}

.inner-list {
    margin-top: 30px;
    margin-bottom: 30px;
    position: absolute;
}

.selection-list-toggle-btn {
    margin: 10px;
    font-size: 12pt;
    position: absolute;
    cursor: pointer;
    color: white;
    z-index: 2;
}

.selection-list {
    z-index: 1;
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
    background: #00000099;
    max-width: 20%;
    transition-property: all !important;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

    .selection-list.default {
        height: 100%;
        min-width: 190px;
    }

    .selection-list.compact {
        height: 15%;
        margin: 10px;
        font-size: 9pt;
        min-width: 190px;
    }

        .selection-list.compact > .inner-list {
            height: 100%;
        }

.selectable-list-item {
    cursor: pointer;
    margin: 8px;
    width: 100%;
}

    .selectable-list-item.selected {
        font-style: italic;
        color: var(--mud-palette-primary, yellow);
    }

    .selectable-list-item:hover {
        background: #00000033;
    }

@keyframes __slideFadeInTop {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes __slideFadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes __slideFadeInRight {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes __slideFadeInBottom {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.blazor-audio-visualizer-container {
    position: relative;
}

.blazor-audio-visualizer-container > .message {
    position: absolute;
    margin-top: 10px;
    font-size: 20pt;
    text-align: center;
    opacity: 1;
    width: 100%;
    animation: __slideFadeInTop 0.5s ease forwards;
    transition-property: all !important;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.message-fade-out {
    opacity: 0;
    animation: __slideFadeInTop 0.5s ease reverse;
}

.blazor-audio-visualizer {
    height: 100%;
    width: 100%;
}

/* Meta */

.meta-container {
    transition: all 0.3s ease;
    height: 200px !important;
    width: 300px !important;
    max-width: 300px !important;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.meta-container.collapsed {
    height: 60px !important;
    overflow: hidden;
    box-shadow: none;
}

.cover-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.meta-info {
    position: relative;
    z-index: 1; 
    padding: 10px;
    background: rgba(0, 0, 0, 0.6); 
    color: #fff;
    transition: opacity 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.meta-info-bottom {
    animation: __slideFadeInBottom 0.5s ease forwards;
    transition: opacity 0.3s ease;
    height: 100%;
    z-index: 1;
    padding: 10px;
    color: #fff;
    position: absolute;
    height: 100%;
    width: 100%;
    align-content: center;
}

.meta-title {
    font-size: 1.05rem;
    font-weight: bold;
    margin: 0;
    text-align: center;
    color: #fff;
}

.meta-tag {
    font-size: 0.9rem;
    text-align: center;
    margin: 0;
    color: #fff;
}

.hidden {
    opacity: 0; 
}

/*.meta-container.collapsed .meta-info {
    opacity: 1; 
}
*/
