@using AuralizeBlazor.Features
@using VisualizationMode = AuralizeBlazor.Options.VisualizationMode


<Auralizer GradientChanged="@MainLayout.Instance.ColorsChanged"
           Presets="@AuralizerPreset.All"
           IgnoredPropertiesForReset="@(new [] {nameof(Auralizer.Overlay), nameof(Auralizer.ShowBgColor)})"
           OverlayChildContent="true"
           HoverOpacity=".1"
           ShowBgColor="false">
    <video height="800px;" preload="metadata" loading="lazy" controls="true" src="/sample.mp4"></video>
</Auralizer>
<br />

<MudDivider Class="mt-5 mb-5"></MudDivider>

<p>Audio sample</p>
<Auralizer IgnoredPropertiesForReset="@(new [] {nameof(Auralizer.Overlay), nameof(Auralizer.ShowBgColor)})"
           ShowScaleX="false"
           ShowScaleY="false"
           Mode="VisualizationMode.LineAreaGraph"
           OverlayChildContent="true"
           HoverOpacity=".2"
           Opacity="1"
           BgAlpha="1"
           Overlay="false"
           ShowBgColor="true">
    <audio preload="metadata" loading="lazy" controls="true" src="/sample.mp3"></audio>
</Auralizer>
