@page "/"
@using System.Reflection

<PageTitle>Home</PageTitle>


<select @onchange="HandleChange" value="@(_preset ?? VisualizerPreset.ReflexMirror.Name)">
    @foreach (var preset in VisualizerPreset.All)
    {
        <option value="@preset.Name">@preset.Name</option>
    }
</select>

<audio preload="metadata" loading="lazy" controls="true" src="/sample.mp3"></audio>
<audio preload="metadata" loading="lazy" controls="true" src="/sample.mp3"></audio>
<BlazorAudioVisualizer @ref=_vis
                       InitialPreset="VisualizerPreset.ReflexMirror" 
                       Presets="@VisualizerPreset.All" 
                       PresetApplied="OnPresetApplied" 
                       Height="700px" 
                       BackgroundImage="https://www.pr-bild-award.de/site-prba/assets/files/1/prba-teaser.jpg"
                       ConnectAllAudioSources="true"
                       ClickAction="VisualizerAction.TogglePlayPause"
                       ContextMenuAction="VisualizerAction.ToggleMicrophone"
                       Overlay="false">
    @* <video preload="metadata" loading="lazy" controls="true" src="/video.mp4"></video> *@
    @* <audio preload="metadata" loading="lazy" controls="true" src="/sample.mp3"></audio> *@
</BlazorAudioVisualizer>

@code {

    BlazorAudioVisualizer _vis;
    private string _preset;

    private void HandleChange(ChangeEventArgs e)
    {
        if (typeof(VisualizerPreset).GetProperties(BindingFlags.Static | BindingFlags.Public).FirstOrDefault(m => m.Name == e.Value.ToString())?.GetValue(null) is VisualizerPreset preset)
            _vis.ApplyPreset(preset);
    }


    private void OnPresetApplied(VisualizerPreset obj) => _preset = obj.Name;

}
