@page "/readme"

<PageTitle>Readme</PageTitle>

@* <center>
    <h1 style="background: linear-gradient(to right, #0bc, #2cb, #0bc, #09c, #36b, #2cb); background-clip: text; color: transparent;">
        AuralizeBlazor Readme
    </h1>
</center> *@

<MudPaper Elevation="5" Class="m-5">
    <center>
    <MudExFileDisplay Style="width: 600px;" Class="file-no-border" ContentType="text/markdown" Url="https://raw.githubusercontent.com/fgilde/AuralizeBlazor/master/README.md"></MudExFileDisplay>
    </center>
</MudPaper>

