# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy ASP.NET Core app to Azure Web App - AuralizeBlazor

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up .NET SDK
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'

      - name: Restore
        run: dotnet restore "Sample/AuralizeBlazor.Sample/AuralizeBlazor.Sample.csproj"

      - name: Build (Release)
        run: dotnet build "Sample/AuralizeBlazor.Sample/AuralizeBlazor.Sample.csproj" --configuration Release --no-restore /p:SkipDocs=true

      # Wichtig: kein --no-build, damit alle Static Web Assets erzeugt werden
      - name: Publish
        run: dotnet publish "Sample/AuralizeBlazor.Sample/AuralizeBlazor.Sample.csproj" -c Release -o "./publish" /p:SkipDocs=true

      - name: Upload artifact for deployment
        uses: actions/upload-artifact@v4
        with:
          name: dotnet-publish
          path: ./publish

  deploy:
    runs-on: windows-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download build artifact
        uses: actions/download-artifact@v4
        with:
          name: dotnet-publish
          path: ./publish

      - name: Login to Azure (OIDC)
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_5966A2E7DF5A439C8FF34EA3A3FEA2F7 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_42FDABC6DA9F44E598B049B87B6EA726 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_098A55B73585475DB51124C1729752A8 }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'AuralizeBlazor'
          slot-name: 'Production'
          package: ./publish

